<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio Files</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.mp3</string>
				<string>public.wav</string>
				<string>com.apple.m4a-audio</string>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4a</string>
					<string>mp3</string>
					<string>wav</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/mp4</string>
					<string>audio/mpeg</string>
					<string>audio/wav</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hera necesita acceso al micrófono para grabar audio.</string>
	<key>CFBundleDisplayName</key>
	<string>Hera</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Hera</string>
</dict>
</plist>
